# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
node_modules

# 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

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
